<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      本网站由刘啸峰拥有和运营</br>
      联系方式: feong@live.com
    </div>
  </div>
</footer>